




::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
     background-color: #FFA726;
    // background-color: $primary-color;
    // border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}