// Colors //

$primary-color:#FFA726;
$black-color:#000000;
$white-color:#fff;
$light-black:#666666;

// Fonts fize //

$xx-large:60px;
$x-large: 40px;
$large: 32px;
$medium: 28px;
$regular: 18px;
$small: 16px;

// font-weght //





